body {
            font-family: "Fraunces", serif;
            background-image: url(./img/hearts.gif);
            text-align: center;
            margin: 0;
            padding: 20px;
        }
        #photo-carousel {
            width: 100%;
            max-width: 360px;
            margin: auto;
            overflow: hidden;
            
        }
        #photo-carousel img {
            width: 100%;
            display: none;
            max-height: 500px;
            margin: 10px 0 10px 0;
            border-radius: 10px;
        }
        #photo-carousel img.active {
            display: block;
        }
        .frase{
            font-family: "Fraunces", serif;
            background-color: pink;
            border-radius: 15px;
            padding: 5px;
        }

        #countdown {
            background-color: antiquewhite;
            font-size: 2em;
            margin-top: 20px;
            color: #d9534f;
            border-radius: 15px;
            padding: 5px;
        }
        .bton {
            font-family: "Fraunces", serif;
            padding: 8px 15px;
            font-size: 20px;
            color: #333;
            background-color: pink;
            border: 2px solid white;
            border-radius: 5px;
            margin: 10px 0;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .bton:hover {
            background-color: rgb(220, 98, 98);
        }

        /* frases rolantes */
         #frases {
            width: 300px;
            text-align: center;
            font-family: "Fraunces", serif;
            font-size: 18px;
            font-weight: 100;
            border-radius: 10px;
            padding: 20px;
            background-color: rgb(233, 189, 221);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }